In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('merged_file.csv')

In [3]:
df.head()

,DDate,AmcCode,AmcName,YardCode,YardName,CommCode,CommName,VarityCode,VarityName,Arrivals,Minimum,Maximum,Model,ProgArrivals,Valuation,MarketFee
0,2014-01-02 00:00:00+05:30,246,Warangal,886,Warangal,1,Paddy,1,Common,637.0,1310.0,1330.0,1320.0,NaN,NaN,NaN
1,2014-01-02 00:00:00+05:30,221,Jammikunta,36,Jammikunta,1,Paddy,240,Common (1001),161.0,1300.0,1310.0,1310.0,NaN,NaN,NaN
2,2014-01-03 00:00:00+05:30,246,Warangal,886,Warangal,1,Paddy,1,Common,287.0,1310.0,1330.0,1320.0,NaN,NaN,NaN
3,2014-01-04 00:00:00+05:30,246,Warangal,886,Warangal,1,Paddy,1,Common,329.0,1310.0,1330.0,1320.0,NaN,NaN,NaN
4,2014-01-06 00:00:00+05:30,246,Warangal,886,Warangal,1,Paddy,1,Common,149.0,1500.0,1675.0,1600.0,NaN,NaN,NaN

In [4]:
df.nunique()

DDate            3851
AmcCode           171
AmcName           171
YardCode          207
YardName          204
CommCode          117
CommName          117
VarityCode        197
VarityName         66
Arrivals        29025
Minimum          9981
Maximum         11794
Model           11228
ProgArrivals        1
Valuation           1
MarketFee           1
dtype: int64

In [5]:
df.value_counts()

DDate                      AmcCode  AmcName       YardCode  YardName      CommCode  CommName   VarityCode  VarityName      Arrivals  Minimum  Maximum  Model   ProgArrivals  Valuation  MarketFee
2022-11-12 00:00:00+05:30  230      Sultanabad    1124      Sultanabad    1         Paddy      270         Grade-A (1010)  1160.0    2060.0   2060.0   2060.0  0.0           0.0        0.0          2
2021-11-26 00:00:00+05:30  225      Manthani      1132      Manthani      1         Paddy      270         Grade-A (1010)  420.0     1960.0   1960.0   1960.0  0.0           0.0        0.0          2
2023-02-25 00:00:00+05:30  263      Alair         1240      motakondu     1         Paddy      195         Grade-A         1.0       2060.0   2060.0   2060.0  0.0           0.0        0.0          2
                                                  1102      Alair         1         Paddy      195         Grade-A         1.0       2060.0   2060.0   2060.0  0.0           0.0        0.0          2
2021-10-25 00:00:00+05:30  263      Alair         1102      Alair         1         Paddy      195         Grade-A         1.0       1888.0   1888.0   1888.0  0.0           0.0        0.0          2
                                                                                                                                                                                                    ..
2022-06-03 00:00:00+05:30  324      Bowenpally    3         Bowenpally    155       Donda      155         Common          514.0     500.0    2000.0   1300.0  0.0           0.0        0.0          1
                                                                          154       Amla       154         Common          32.0      3000.0   6000.0   5000.0  0.0           0.0        0.0          1
                                                                          130       Drumstick  130         Common          171.0     1500.0   5000.0   3500.0  0.0           0.0        0.0          1
                                                                          129       Cucumber   129         Common          179.0     500.0    1200.0   1000.0  0.0           0.0        0.0          1
2024-11-30 00:00:00+05:30  377      Maddulapally  1724      Maddulapally  1         Paddy      195         Grade-A         600.0     2100.0   2200.0   2100.0  0.0           0.0        0.0          1
Name: count, Length: 392754, dtype: int64

In [6]:
 df['CommName'].value_counts()['Tomato']

np.int64(23957)

In [7]:
df[df['CommName'] == 'Tomato'].groupby('DDate').size()

DDate
2016-05-30 00:00:00+05:30    1
2016-11-05 00:00:00+05:30    1
2016-11-06 00:00:00+05:30    1
2016-11-07 00:00:00+05:30    1
2016-11-08 00:00:00+05:30    1
                            ..
2024-11-26 00:00:00+05:30    9
2024-11-27 00:00:00+05:30    8
2024-11-28 00:00:00+05:30    9
2024-11-29 00:00:00+05:30    8
2024-11-30 00:00:00+05:30    7
Length: 2946, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711341 entries, 0 to 711340
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DDate         711341 non-null  object
 1   AmcCode       711341 non-null  int64
 2   AmcName       711341 non-null  object
 3   YardCode      711341 non-null  int64
 4   YardName      711341 non-null  object
 5   CommCode      711341 non-null  int64
 6   CommName      711341 non-null  object
 7   VarityCode    711341 non-null  int64
 8   VarityName    711341 non-null  object
 9   Arrivals      711341 non-null  float64
 10  Minimum       711341 non-null  float64
 11  Maximum       711341 non-null  float64
 12  Model         711341 non-null  float64
 13  ProgArrivals  392920 non-null  float64
 14  Valuation     392920 non-null  float64
 15  MarketFee     392920 non-null  float64
dtypes: float64(7), int64(4), object(5)
memory usage: 86.8+ MB

In [9]:
df.drop(columns=['AmcCode','YardCode','VarityCode','ProgArrivals','CommCode','Valuation','MarketFee'],inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711341 entries, 0 to 711340
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   DDate       711341 non-null  object
 1   AmcName     711341 non-null  object
 2   YardName    711341 non-null  object
 3   CommName    711341 non-null  object
 4   VarityName  711341 non-null  object
 5   Arrivals    711341 non-null  float64
 6   Minimum     711341 non-null  float64
 7   Maximum     711341 non-null  float64
 8   Model       711341 non-null  float64
dtypes: float64(4), object(5)
memory usage: 48.8+ MB

In [11]:
df['DDate'] = pd.to_datetime(df['DDate'], errors='coerce')

In [12]:
print(df['DDate'].dtype)

datetime64[ns, UTC+05:30]

In [13]:
df['Day'] = df['DDate'].dt.day
df['Month'] = df['DDate'].dt.month
df['Year'] = df['DDate'].dt.year
df['Weekday'] = df['DDate'].dt.weekday   # 0=Monday, 6=Sunday
df['Is_Weekend'] = df['Weekday'].isin([5, 6]).astype(int)

In [14]:
def get_season(month):
    if month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    elif month in [10, 11]:
        return 'Post-Monsoon'
    else:
        return 'Winter'

df['Season'] = df['Month'].apply(get_season)

In [15]:
columns_to_drop = ['DDate' , 'Minimum','Maximum']
df.drop(columns = columns_to_drop , inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711341 entries, 0 to 711340
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   AmcName     711341 non-null  object
 1   YardName    711341 non-null  object
 2   CommName    711341 non-null  object
 3   VarityName  711341 non-null  object
 4   Arrivals    711341 non-null  float64
 5   Model       711341 non-null  float64
 6   Day         711341 non-null  int32
 7   Month       711341 non-null  int32
 8   Year        711341 non-null  int32
 9   Weekday     711341 non-null  int32
 10  Is_Weekend  711341 non-null  int64
 11  Season      711341 non-null  object
dtypes: float64(2), int32(4), int64(1), object(5)
memory usage: 54.3+ MB

In [17]:
df['AmcName'].value_counts()

AmcName
Gaddiannaram    85067
Gudimalkapur    80069
Hyderabad       69912
Bowenpally      61659
Warangal        51582
                ...
Ramayampet          2
Huzurnagar          2
Pothugal            1
Dhoultabad          1
Deverkonda          1
Name: count, Length: 171, dtype: int64

In [18]:

df['YardName'].value_counts()

YardName
Gudumalkapur       80069
Bowenpally         61659
Warangal           51582
L.B Nagar          45921
Vantimamidi        42020
                   ...
Pothugal               1
Kondamallepally        1
Eturnagaram            1
Huzurnagar             1
Garidepally            1
Name: count, Length: 204, dtype: int64

In [19]:

df['CommName'].value_counts()

CommName
Paddy             71459
Cotton            37860
Maize             29491
Brinjal           26256
Green Chillies    25453
                  ...
Linseed               1
Hemp Seed             1
Santra                1
Chironjee             1
NigerSeed             1
Name: count, Length: 117, dtype: int64

In [20]:

df['VarityName'].value_counts()

VarityName
Common                    553267
Local                      16845
Grade-A                    12774
Grade-A(IR64)               9683
Grade-A (1010)              9515
                           ...
Common (Erramallelu)           5
Common (JGL)                   4
Sangam 858                     3
Chamky                         2
Common (Tella Mallelu)         1
Name: count, Length: 66, dtype: int64

In [21]:
def limit_categories(df, columns, top_n=5):
    df = df.copy()
    for col in columns:
        top_categories = df[col].value_counts().nlargest(top_n).index
        df[col] = df[col].apply(lambda x: x if x in top_categories else 'Other')
    return df

In [22]:
categorical_cols = ['AmcName','YardName','VarityName','CommName']
df_limited = limit_categories(df, categorical_cols, top_n=10)

In [23]:
df_limited.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711341 entries, 0 to 711340
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   AmcName     711341 non-null  object
 1   YardName    711341 non-null  object
 2   CommName    711341 non-null  object
 3   VarityName  711341 non-null  object
 4   Arrivals    711341 non-null  float64
 5   Model       711341 non-null  float64
 6   Day         711341 non-null  int32
 7   Month       711341 non-null  int32
 8   Year        711341 non-null  int32
 9   Weekday     711341 non-null  int32
 10  Is_Weekend  711341 non-null  int64
 11  Season      711341 non-null  object
dtypes: float64(2), int32(4), int64(1), object(5)
memory usage: 54.3+ MB

In [24]:
df_limited.isnull().sum()

AmcName       0
YardName      0
CommName      0
VarityName    0
Arrivals      0
Model         0
Day           0
Month         0
Year          0
Weekday       0
Is_Weekend    0
Season        0
dtype: int64

In [25]:
df_limited.tail(200)

,AmcName,YardName,CommName,VarityName,Arrivals,Model,Day,Month,Year,Weekday,Is_Weekend,Season
711141,Warangal,Warangal,Other,Common,2.0,3750.0,13,12,2023,2,0,Winter
711142,Warangal,Warangal,Other,Common,10.0,4250.0,15,12,2023,4,0,Winter
711143,Warangal,Warangal,Other,Common,14.0,4250.0,18,12,2023,0,0,Winter
711144,Warangal,Warangal,Other,Common,5.0,4250.0,17,12,2023,6,1,Winter
711145,Warangal,Warangal,Other,Common,1.0,4750.0,16,12,2023,5,1,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...
711336,Warangal,Warangal,Other,Common,9.0,4750.0,30,12,2023,5,1,Winter
711337,Warangal,Warangal,Other,Common,16.0,4750.0,24,12,2023,6,1,Winter
711338,Warangal,Warangal,Other,Common,9.0,4750.0,25,12,2023,0,0,Winter
711339,Warangal,Warangal,Other,Common,9.0,4750.0,26,12,2023,1,0,Winter
711340,Warangal,Warangal,Other,Common,10.0,4750.0,27,12,2023,2,0,Winter

In [26]:
df_limited['AmcName'].value_counts()

AmcName
Other                 247846
Gaddiannaram           85067
Gudimalkapur           80069
Hyderabad              69912
Bowenpally             61659
Warangal               51582
Vantimamidi            42020
Shadnagar              26007
Kalwakurthy            17228
Suryapet               17017
Venkateshwar Nagar     12934
Name: count, dtype: int64

In [27]:
df_limited['VarityName'].value_counts()

VarityName
Common            553267
Other              73481
Local              16845
Grade-A            12774
Grade-A(IR64)       9683
Grade-A (1010)      9515
White               9101
No.I                6992
Finger              6892
No.II               6529
Bulb                6262
Name: count, dtype: int64

In [28]:
df_limited['YardName'].value_counts()

YardName
Other           291944
Gudumalkapur     80069
Bowenpally       61659
Warangal         51582
L.B Nagar        45921
Vantimamidi      42020
Gaddiannaram     39146
Madannapeta      38748
Shadnagar        26007
Kalwakurthy      17228
Suryapet         17017
Name: count, dtype: int64

In [29]:
df_limited['CommName'].value_counts()

CommName
Other             411883
Paddy              71459
Cotton             37860
Maize              29491
Brinjal            26256
Green Chillies     25453
Red Gram           24828
Tomato             23957
Ladys Finger       22047
Cabbage            20651
Groundnut pods     17456
Name: count, dtype: int64

In [30]:
def VarityAnalysis(comm_value):
    print(f"\nTop Varieties for Commodity: {comm_value}")
    print(df[df['CommName'] == comm_value]['VarityName'].value_counts())

def CommAnalysis():
    for comm in df['CommName'].unique():
        VarityAnalysis(comm)

In [31]:
CommAnalysis()

Top Varieties for Commodity: Paddy
VarityName
Grade-A                       12774
Grade-A(IR64)                  9683
Grade-A (1010)                 9515
Common                         6674
Grade-A (Sonamasuri)           5949
Grade-A (RNR)                  5831
Common (Hamsa)                 4789
Grade-A (Samba Masuri)         4225
Grade-A (Jai Sri Ram)          2940
Grade-A (BPT)                  2752
Common (1001)                  2284
Common (HMT)                   2217
Grade-A (Samba Masuri Old)      430
Grade-A (Vijayamasoori)         381
Common (Swarna)                 302
Grade-A (NLR)                   266
Grade-A (Chittymuthyalu)        203
Common (MTU 1001)               156
Common (Ankur-Sona)              78
Common (Erramallelu)              5
Common (JGL)                      4
Common (Tella Mallelu)            1
Name: count, dtype: int64

Top Varieties for Commodity: Cattle(All)
VarityName
Common    1623
Name: count, dtype: int64

Top Varieties for Commodity: Maize
VarityName
Common        25738
Hybrid New     3548
Bilt            111
Hybrid Old       94
Name: count, dtype: int64

Top Varieties for Commodity: Cotton
VarityName
Common    37860
Name: count, dtype: int64

Top Varieties for Commodity: Red Gram
VarityName
Common    21976
Red        1402
Hybrid     1034
White       403
Seed         13
Name: count, dtype: int64

Top Varieties for Commodity: Green Gram
VarityName
Common    11201
Chamky        2
Name: count, dtype: int64

Top Varieties for Commodity: Groundnut pods
VarityName
Common    15960
Wet        1496
Name: count, dtype: int64

Top Varieties for Commodity: Bengal Gram
VarityName
Common    4237
Name: count, dtype: int64

Top Varieties for Commodity: Chillies(Dry)
VarityName
Teja                        3421
Talu                        2697
No.I                        2596
No.II                       2463
Wonderhot                   1093
US-341                      1044
Desi                         434
1048                         380
Devanooru Delux              372
Deepika                      354
Common                       312
Single Patti                 210
G.T                          144
Armoor                       138
Wonderhot (Cold storage)      66
US-341 (Cold storage)         65
273                           62
Teja (Cold storage)           58
Bydagi                        25
Desi (Cold storage)           15
Sangam 858                     3
Name: count, dtype: int64

Top Varieties for Commodity: Tumeric
VarityName
Finger    6892
Bulb      6262
Common     378
Name: count, dtype: int64

Top Varieties for Commodity: Onions
VarityName
Common    7548
No.I      2341
No.II     2152
Name: count, dtype: int64

Top Varieties for Commodity: Jowar
VarityName
White     2160
Common    1017
Hybrid     574
Yellow     518
Name: count, dtype: int64

Top Varieties for Commodity: Castor
VarityName
Common    5804
Name: count, dtype: int64

Top Varieties for Commodity: Black Gram
VarityName
Common    3798
Name: count, dtype: int64

Top Varieties for Commodity: Garlic
VarityName
Common    643
Name: count, dtype: int64

Top Varieties for Commodity: Ragi
VarityName
Common    2103
Name: count, dtype: int64

Top Varieties for Commodity: Soyabean
VarityName
White     2461
Yellow    2142
Common     276
Name: count, dtype: int64

Top Varieties for Commodity: Horse Gram
VarityName
Common    727
Name: count, dtype: int64

Top Varieties for Commodity: Tamarind
VarityName
No.I      2055
No.II     1914
Common     890
Name: count, dtype: int64

Top Varieties for Commodity: Bazra
VarityName
common    410
Name: count, dtype: int64

Top Varieties for Commodity: Ajwan
VarityName
Common    538
Name: count, dtype: int64

Top Varieties for Commodity: Potato
VarityName
Common    15664
Name: count, dtype: int64

Top Varieties for Commodity: Gingelly
VarityName
White     2141
Common     419
Black      409
Name: count, dtype: int64

Top Varieties for Commodity: Sunflower
VarityName
Common    936
Name: count, dtype: int64

Top Varieties for Commodity: Safflower
VarityName
Common    350
Name: count, dtype: int64

Top Varieties for Commodity: Cowpea
VarityName
Common    3144
Black       95
White       41
Name: count, dtype: int64

Top Varieties for Commodity: Cabbage
VarityName
Common    20651
Name: count, dtype: int64

Top Varieties for Commodity: Brinjal
VarityName
Common     19016
Round       4550
Kalyani     2690
Name: count, dtype: int64

Top Varieties for Commodity: Tomato
VarityName
Local     12435
Common     9476
618        1952
Hybrid       94
Name: count, dtype: int64

Top Varieties for Commodity: Mango
VarityName
Benishan    1857
Common       861
Totapari     778
Rasalu       551
Himayath     503
Neelam       297
Name: count, dtype: int64

Top Varieties for Commodity: Wheat
VarityName
Common    417
Hybir     303
Name: count, dtype: int64

Top Varieties for Commodity: Cauliflower
VarityName
Common    13564
Name: count, dtype: int64

Top Varieties for Commodity: Mosambi
VarityName
Common    3297
Name: count, dtype: int64

Top Varieties for Commodity: Ladys Finger
VarityName
Common    22047
Name: count, dtype: int64

Top Varieties for Commodity: Green Chillies
VarityName
Common    25453
Name: count, dtype: int64

Top Varieties for Commodity: Beet Root
VarityName
Common    9529
Name: count, dtype: int64

Top Varieties for Commodity: Orange
VarityName
Common    3050
Name: count, dtype: int64

Top Varieties for Commodity: Carrot
VarityName
Common    14724
Name: count, dtype: int64

Top Varieties for Commodity: Radish
VarityName
Common    3319
Name: count, dtype: int64

Top Varieties for Commodity: Grapes
VarityName
Black     2623
White     1895
Common     100
Name: count, dtype: int64

Top Varieties for Commodity: Pomegrenates
VarityName
Common    3219
Name: count, dtype: int64

Top Varieties for Commodity: ColaCasio(Arvi)
VarityName
Common    8109
Name: count, dtype: int64

Top Varieties for Commodity: Coriander
VarityName
Common    374
Name: count, dtype: int64

Top Varieties for Commodity: Sapota
VarityName
Common    2684
Name: count, dtype: int64

Top Varieties for Commodity: Musk Melon
VarityName
Common    3060
Name: count, dtype: int64

Top Varieties for Commodity: French Beans
VarityName
Common    11930
Name: count, dtype: int64

Top Varieties for Commodity: Sweet Potato
VarityName
Common    3205
Name: count, dtype: int64

Top Varieties for Commodity: Water Melon
VarityName
Common    3090
Name: count, dtype: int64

Top Varieties for Commodity: Pine apple
VarityName
Common    2842
Name: count, dtype: int64

Top Varieties for Commodity: Yam
VarityName
Common    3288
Name: count, dtype: int64

Top Varieties for Commodity: Tamarind Seed
VarityName
Common    644
Name: count, dtype: int64

Top Varieties for Commodity: Common Millet
VarityName
Common    3
Name: count, dtype: int64

Top Varieties for Commodity: Green Onion
VarityName
Common    5876
Name: count, dtype: int64

Top Varieties for Commodity: Cluster Beans
VarityName
Common    15833
Name: count, dtype: int64

Top Varieties for Commodity: Bottle Gourd
VarityName
Common    13487
Name: count, dtype: int64

Top Varieties for Commodity: Papaya
VarityName
Common    3473
Name: count, dtype: int64

Top Varieties for Commodity: Field Beans
VarityName
Common    12588
Name: count, dtype: int64

Top Varieties for Commodity: Bitter Gourd
VarityName
Common    16527
Name: count, dtype: int64

Top Varieties for Commodity: Guava
VarityName
Common    2799
Name: count, dtype: int64

Top Varieties for Commodity: Ber
VarityName
Common    1263
Name: count, dtype: int64

Top Varieties for Commodity: Ribbed Gourd
VarityName
Common    16169
Name: count, dtype: int64

Top Varieties for Commodity: Snake Gourd
VarityName
Common    5023
Name: count, dtype: int64

Top Varieties for Commodity: Custard apple
VarityName
Common    801
Name: count, dtype: int64

Top Varieties for Commodity: Capsicum
VarityName
Common    12164
Name: count, dtype: int64

Top Varieties for Commodity: Green Peas
VarityName
Common    1697
Name: count, dtype: int64

Top Varieties for Commodity: Kheera
VarityName
Common    10018
Name: count, dtype: int64

Top Varieties for Commodity: Jamun
VarityName
Common    19
Name: count, dtype: int64

Top Varieties for Commodity: Cucumber
VarityName
Common    14468
Name: count, dtype: int64

Top Varieties for Commodity: Lemon
VarityName
Common    3744
Name: count, dtype: int64

Top Varieties for Commodity: Apple
VarityName
Common    3140
Name: count, dtype: int64

Top Varieties for Commodity: Donda
VarityName
Common    14161
Name: count, dtype: int64

Top Varieties for Commodity: Nashpati(Pear)
VarityName
Common    1608
Name: count, dtype: int64

Top Varieties for Commodity: Plum(Aloobukara)
VarityName
Common    2005
Name: count, dtype: int64

Top Varieties for Commodity: Green Mangos
VarityName
Common    2854
Name: count, dtype: int64

Top Varieties for Commodity: Drumstick
VarityName
Common    6417
Name: count, dtype: int64

Top Varieties for Commodity: Arati-Green Plantain
VarityName
Common    4774
Name: count, dtype: int64

Top Varieties for Commodity: Pumpkin
VarityName
Common    5875
Name: count, dtype: int64

Top Varieties for Commodity: Green Tamarind
VarityName
Common    1724
Name: count, dtype: int64

Top Varieties for Commodity: Lobha
VarityName
Common    5584
Seed       312
Local       41
Name: count, dtype: int64

Top Varieties for Commodity: Hari Boot
VarityName
Common    717
Name: count, dtype: int64

Top Varieties for Commodity: Culinery Banana
VarityName
Common    1464
Name: count, dtype: int64

Top Varieties for Commodity: Amla
VarityName
Common    1096
Name: count, dtype: int64

Top Varieties for Commodity: Sweet Corn
VarityName
Local    3374
Name: count, dtype: int64

Top Varieties for Commodity: Gajar
VarityName
Common    1227
Name: count, dtype: int64

Top Varieties for Commodity: ChowChow
VarityName
Common    1848
Name: count, dtype: int64

Top Varieties for Commodity: Salgam
VarityName
Common    461
Name: count, dtype: int64

Top Varieties for Commodity: Green Chillies (Bold)
VarityName
common    1729
Name: count, dtype: int64

Top Varieties for Commodity: Teisel Gourd(Boda Kakarakaya)
VarityName
Local    995
Name: count, dtype: int64

Top Varieties for Commodity: Sheep/Goat
VarityName
Common    6
Name: count, dtype: int64

Top Varieties for Commodity: Banana
VarityName
Common    1311
Name: count, dtype: int64

Top Varieties for Commodity: Chironjee
VarityName
Common    1
Name: count, dtype: int64

Top Varieties for Commodity: Pungam Seed
VarityName
Common    80
Name: count, dtype: int64

Top Varieties for Commodity: Field Bean
VarityName
Common    78
Name: count, dtype: int64

Top Varieties for Commodity: Jack fruit
VarityName
Common    379
Name: count, dtype: int64

Top Varieties for Commodity: Tamarind Sprout
VarityName
Common    274
Name: count, dtype: int64

Top Varieties for Commodity: Amchur
VarityName
Common    240
Name: count, dtype: int64

Top Varieties for Commodity: mustard
VarityName
Common    197
Name: count, dtype: int64

Top Varieties for Commodity: Reetha
VarityName
Common    16
Name: count, dtype: int64

Top Varieties for Commodity: Rice
VarityName
Common    28
Name: count, dtype: int64

Top Varieties for Commodity: Santra
VarityName
Common    1
Name: count, dtype: int64

Top Varieties for Commodity: Vegetables(All)
VarityName
Common    13
Name: count, dtype: int64

Top Varieties for Commodity: Hemp Seed
VarityName
Common    1
Name: count, dtype: int64

Top Varieties for Commodity: Cotton Seed
VarityName
Common    11
Name: count, dtype: int64

Top Varieties for Commodity: Linseed
VarityName
Common    1
Name: count, dtype: int64

Top Varieties for Commodity: Eucalyptus
VarityName
Common    529
Name: count, dtype: int64

Top Varieties for Commodity: Subabul
VarityName
Common    881
Name: count, dtype: int64

Top Varieties for Commodity: Coconut
VarityName
Common    101
Name: count, dtype: int64

Top Varieties for Commodity: Ginger
VarityName
Common    95
Name: count, dtype: int64

Top Varieties for Commodity: Ash Gourd
VarityName
Common    41
Name: count, dtype: int64

Top Varieties for Commodity: Jaggery
VarityName
Common    6
Name: count, dtype: int64

Top Varieties for Commodity: Casuarina
VarityName
Common    5
Name: count, dtype: int64

Top Varieties for Commodity: Amaranthus
VarityName
Common    266
Name: count, dtype: int64

Top Varieties for Commodity: Sunnhemp
VarityName
Common    23
Name: count, dtype: int64

Top Varieties for Commodity: Sunhemp Seed
VarityName
Common    4
Name: count, dtype: int64

Top Varieties for Commodity: Cumin
VarityName
Common    3
Name: count, dtype: int64

Top Varieties for Commodity: NigerSeed
VarityName
Common    1
Name: count, dtype: int64

Top Varieties for Commodity: Fish
VarityName
Common    3
Name: count, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split

df_small, _ = train_test_split(df, train_size=0.1, random_state=42)

In [33]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71134 entries, 352311 to 121958
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AmcName     71134 non-null  object
 1   YardName    71134 non-null  object
 2   CommName    71134 non-null  object
 3   VarityName  71134 non-null  object
 4   Arrivals    71134 non-null  float64
 5   Model       71134 non-null  float64
 6   Day         71134 non-null  int32
 7   Month       71134 non-null  int32
 8   Year        71134 non-null  int32
 9   Weekday     71134 non-null  int32
 10  Is_Weekend  71134 non-null  int64
 11  Season      71134 non-null  object
dtypes: float64(2), int32(4), int64(1), object(5)
memory usage: 6.0+ MB

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

In [35]:
X_train,X_test,y_train,y_test = train_test_split(df_small.drop(columns=['Model']),
                                                 df_small['Model'],
                                                 test_size=0.2,
                                                random_state=42)

In [36]:
X_train.head()

,AmcName,YardName,CommName,VarityName,Arrivals,Day,Month,Year,Weekday,Is_Weekend,Season
692196,Narsingi,Babbuguda,Cattle(All),Common,298.0,4,12,2022,6,1,Winter
634548,Bowenpally,Bowenpally,Sweet Corn,Local,276.0,27,10,2023,4,0,Post-Monsoon
403224,Hyderabad,Mahabubmansion,Onions,No.II,5131.0,1,3,2024,4,0,Summer
652479,Warangal,Warangal,Cabbage,Common,70.0,1,11,2021,0,0,Post-Monsoon
90692,Sadasivpet,Sadasivapet,Tumeric,Finger,45.0,13,5,2017,5,1,Summer

In [37]:
y_train.sample(5)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56907 entries, 692196 to 54933
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AmcName     56907 non-null  object
 1   YardName    56907 non-null  object
 2   CommName    56907 non-null  object
 3   VarityName  56907 non-null  object
 4   Arrivals    56907 non-null  float64
 5   Day         56907 non-null  int32
 6   Month       56907 non-null  int32
 7   Year        56907 non-null  int32
 8   Weekday     56907 non-null  int32
 9   Is_Weekend  56907 non-null  int64
 10  Season      56907 non-null  object
dtypes: float64(1), int32(4), int64(1), object(5)
memory usage: 4.3+ MB

In [38]:
df.isnull()

,AmcName,YardName,CommName,VarityName,Arrivals,Model,Day,Month,Year,Weekday,Is_Weekend,Season
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
711336,False,False,False,False,False,False,False,False,False,False,False,False
711337,False,False,False,False,False,False,False,False,False,False,False,False
711338,False,False,False,False,False,False,False,False,False,False,False,False
711339,False,False,False,False,False,False,False,False,False,False,False,False
711340,False,False,False,False,False,False,False,False,False,False,False,False

In [40]:
# one hot encoding
categorical_cols = ['AmcName','YardName','CommName','VarityName','Month', 'Season', 'Weekday', 'Is_Weekend','Day','Year']

trf2 = ColumnTransformer([
    ('ohe_encode',OneHotEncoder(sparse_output=False,handle_unknown='ignore'),categorical_cols)
],remainder='passthrough')

In [41]:
trf3 = ColumnTransformer([
    ('scale', MinMaxScaler(),slice(0,20))
], remainder='passthrough')

In [42]:
# feature selection
from sklearn.feature_selection import SelectKBest, f_regression

trf4 = SelectKBest(score_func=f_regression, k=10)

In [43]:
# train the model
trf5 = LinearRegression()

In [44]:
pipe = Pipeline([
    ('trf2',trf2),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5)
])

In [45]:
pipe.fit(X_train,y_train)

C:\Users\abdul\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('trf2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_encode',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  ['AmcName', 'YardName',
                                                   'CommName', 'VarityName',
                                                   'Month', 'Season', 'Weekday',
                                                   'Is_Weekend', 'Day',
                                                   'Year'])])),
                ('trf3',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 20, None))])),
                ('trf4',
                 SelectKBest(score_func=<function f_regression at 0x0000019F4B7EA8E0>)),
                ('trf5', LinearRegression())])

In [46]:
y_pred = pipe.predict(X_test)

In [47]:
y_pred

array([2469.17354295, 3939.48604295, 2469.17354295, ..., 2469.17354295,
       2469.17354295, 2469.17354295])

In [68]:
columns = ['AmcName', 'YardName', 'CommName', 'VarityName', 'Arrivals', 'Day', 'Month', 'Year', 'Weekday', 'Is_Weekend', 'Season']

input_data = pd.DataFrame([['Hyderabad','Mahabubmansion','Onion','Common','100','10','3','2024','4','0','Winter']], columns=columns)

y_p = pipe.predict(input_data)
print(y_p)

[2469.17354295]

In [70]:
from sklearn.metrics import mean_squared_error

# Predictions
y_train_pred = pipe.predict(X_train)
y_test_pred = pipe.predict(X_test)

# RMSE
train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)
test_rmse = mean_squared_error(y_test, y_test_pred, squared=False)

print(f"Train RMSE: {train_rmse}")
print(f"Test RMSE: {test_rmse}")

Train RMSE: 4697.88464396664
Test RMSE: 15260.369939883343

C:\Users\abdul\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(
C:\Users\abdul\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [49]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print("MSE:", mse)

MSE: 232878890.70209515

In [50]:
import numpy as np

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

RMSE: 15260.369939883343

In [51]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

R² Score: 0.012440486678258145

In [52]:
import numpy as np
from sklearn.metrics import mean_squared_error

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

RMSE: 15260.369939883343

In [53]:
print("Average actual price:", y_test.mean())

Average actual price: 3063.258900681802

In [54]:
# export 
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))